
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<script src='http://code.jquery.com/jquery-1.11.2.min.js'></script>
<script src='https://cdn.pin.net.au/pin.v2.js'></script>


<script>
    // 1. Wait for the page to load
    $(function () {

        // 2. Create an API object with your publishable api key, and
        // specifying 'test' or 'live'.
        //
        // Be sure to use your live publishable key with the live api, and
        // your test publishable key with the test api.
        var pinApi = new Pin.Api('pk_CkNUKW6yUJxcdhECvPo2iQ', 'test');

        var form = $('form.pin'),
            submitButton = form.find(":submit"),
            errorContainer = form.find('.errors'),
            errorList = errorContainer.find('ul'),
            errorHeading = errorContainer.find('h3');

        // 3. Add a submit handler to the form which calls Pin.js to
        // retrieve a card token, and then add that token to the form and
        // submit the form to your server.
        form.submit(function (e) {
            debugger;
            e.preventDefault();

            // Clear previous errors
            errorList.empty();
            errorHeading.empty();
            errorContainer.hide();

            // Disable the submit button to prevent multiple clicks
            submitButton.attr({ disabled: true });

            // Fetch details required for the createToken call to Pin Payments
            var card = {
                number: $('#cc-number').val(),
                name: $('#cc-name').val(),
                expiry_month: $('#cc-expiry-month').val(),
                expiry_year: $('#cc-expiry-year').val(),
                cvc: $('#cc-cvc').val(),
                address_line1: $('#address-line1').val(),
                address_line2: $('#address-line2').val(),
                address_city: $('#address-city').val(),
                address_state: $('#address-state').val(),
                address_postcode: $('#address-postcode').val(),
                address_country: $('#address-country').val()
            };

            // Request a token for the card from Pin Payments
            pinApi.createCardToken(card).then(handleSuccess, handleError).done();
        });

        function handleSuccess(card) {
            debugger;
            // Add the card token to the form
            //
            // Once you have the card token on your server you can use your
            // private key and Charges API to charge the credit card.
            $('<input>')
              .attr({ type: 'hidden', name: 'card_token' })
              .val(card.token)
              .appendTo(form);

            alert(card.token);

            // Resubmit the form to the server
            //
            // Only the card_token will be submitted to your server. The
            // browser ignores the original form inputs because they don't
            // have their 'name' attribute set.
            form.get(0).submit();
        }

        function handleError(response) {
            debugger;
            errorHeading.text(response.error_description);

            if (response.messages) {
                $.each(response.messages, function (index, paramError) {
                    $('<li>')
                .text(paramError.param + ": " + paramError.message)
                .appendTo(errorList);
                });
            }

            errorContainer.show();

            // Re-enable the submit button
            submitButton.removeAttr('disabled');
        };
    });

</script>


<form action='Index' class='pin' method='post'>
    <div class='errors' style='display:none'>
        <h3></h3>
        <ul></ul>
    </div>
    <fieldset>
        <legend>Billing</legend>
        <!--
          The lack of 'name' attributes on these inputs prevents
          the browser from submitting them to your server
        -->
        <label for='address-line1'>Address 1</label>
        <input id='address-line1'>
        <label for='address-line2'>Address 2</label>
        <input id='address-line2'>
        <label for='address-city'>City</label>
        <input id='address-city'>
        <label for='address-state'>State</label>
        <input id='address-state'>
        <label for='address-postcode'>Postcode</label>
        <input id='address-postcode'>
        <label for='address-country'>Country</label>
        <input id='address-country'>
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <!--
          The lack of 'name' attributes on these inputs prevents
          the browser from submitting them to your server
        -->
        <label for='cc-number'>Credit Card Number</label>
        <input id='cc-number' type='text'>
        <label for='cc-name'>Name on Card</label>
        <input id='cc-name' type='text'>
        <label for='cc-expiry-month'>Expiry Month</label>
        <input id='cc-expiry-month'>
        <label for='cc-expiry-year'>Expiry Year</label>
        <input id='cc-expiry-year'>
        <label for='cc-cvc'>CVC</label>
        <input id='cc-cvc'>
    </fieldset>
    <input type='submit' value='Pay now'>
</form>

